
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html,
body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

.container {
    text-align: center;
    background-color: aqua;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.title{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    
}

.input {
   margin-bottom: 20px;
   width: 100%;
}

.input input{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: right;
}

.button {
    flex: 1;   
    padding: 10px;
    margin: 3px;
    border:none;
    border-radius: 10px;
    background-color: #3d5066;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50px;

}

.button:hover {
    background-color: rgb(215, 183, 141);
}
